Trash/
single_page/Resume.aux
single_page/Resume.log
single_page/Resume.fls
single_page/Resume.fdb_latexmk
single_page/Resume.out

double_page/Resume.aux
double_page/Resume.log
double_page/Resume.fls
double_page/Resume.fdb_latexmk
double_page/Resume.out
